<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1.0">
        <title>Student Information</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') | safe}}">
    </head>
    <body>
        <div class="container">
            <h1>Student Information</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <td>{{ student.name }}</td>
                </tr>
                <tr>
                    <th>Student ID</th>
                    <td>{{ student.student_id }}</td>
                </tr>
                <tr>
                    <th>Academic Year</th>
                    <td>{{ student.academic_year}}</td>
                </tr>
                <tr>
                    <th>Major</th>
                    <td>{{ student.major}}</td>
                </tr>
                <tr>
                    <th>Hobbies</th>
                    <td>{{ student.hobbies }}</td>
                </tr>
            </table>
        </div>
    </body>
</html>